@import 'components/texts';
@import 'components/colors';
@import 'components/buttons';

* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
  
.header-logo { height: 20px; }


header {
    background-color: white;
    
    width: 100%;
    padding: 5vh 10vh 5vh 10vh;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

nav {
    width: 100%;
}

.main-image { 
    width: auto;
    height: 400px;
 }

main {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 5vh 10vh 5vh 10vh;
}

.main-left,
.main-right {
    display: flex;
    width: 50%;
}

.main-left {
    flex-direction: column;
    padding: 15vh;
}

.main-right {
    justify-content: center;
}

.main-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    padding: 5vh 10vh 5vh 10vh;    
}

.features h2 {
    display: flex;
    justify-content: space-around;
}

.features p {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.features-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
