@import 'colors';

.buttons {
    text-decoration: none;
    text-align: center;
    
    line-height: 50px;

    width: 150px;
    height: 50px;

    font-weight: 500;

    border-radius: 5%;
    padding: auto;

}

.orange-button {    
    background-color: map-get($button-colors, "orange");
    color: $white;        
}

.blue-button {
    background-color: map-get($button-colors, "blue");
    color: map-get($button-colors, "grey");}

.grey-button {
    background-color: map-get($button-colors, "grey");
    color: map-get($button-colors, "dark-grey");
}

