$white: white;
$orange: #fa5757;
$blue: #5165dc;
$dark-blue: #242946;
$grey: #ced0db;
$dark-grey: #514D67;
$ligth-grey: #f8f8f8;

$bg-white: #ffffff;
$bg-blue: #5266df;

$button-colors: (
    "orange": #fa5757,
    "blue": #5165dc,
    "grey": #f5f5f6
);