@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


h1 { 
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
 }

 h2 { 
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
 }

 h3 { 
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
 }

 h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
 }

 .body-regular {
    color: #514D67;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
 }